<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI(新华字典).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>083B206A1D3C6ADF00A32C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>083B20831D3C6ADF00A32C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>083B208E1D3C6ADF00A32C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
